/* .j-debug{
    border: 1px solid red;  
} */

body {
    font-family: 'Noto Sans SC', sans-serif;
}

.j-bg {
    background-color: #fbfbfb;
}

.j-hero {
    height: 100vh;
}

.j-title {
    color: #1c3643;
}

.j-hero-card {
    max-width: 500px;
    animation: animIn 1s ease-out;
}

.j-img-card {
    background-image: url('../img/jecsham.jpg');
    background-size: 75px 75px;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat
}

.j-a:hover {
    text-decoration: none;
}
